# This is an example Starter pipeline configuration
# Use a skeleton to build, test and deploy using manual and parallel steps
# -----
# You can specify a custom docker image from Docker Hub as your build environment.

image: atlassian/default-image:3

pipelines:
    branches:
      master:
        - step:
            script:
              - git remote add sync git@github.com:iq-motion-control/iq-module-communication-cpp.git
              - git checkout master
              - git pull
              - git push sync master --force
